body {
/*background-color: rgb(4, 68, 23);*/
/* color: white; */
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

.title {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 25px;
}
